* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

a {
    text-decoration: none;
    color: #fff;
}

header {
    background-color: rgba(255, 255, 255, 0.4);
    border-bottom: 0.5px solid #85858575;
}

.menu-bar {
    display: flex;
    justify-content: space-evenly;
    padding: 1rem;
}

.logo {
    display: flex;
    align-items: center;
}

.logo h1 {
    color: #000;
}


.search-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    width: 400px;
    border: 2px solid #FFC300;
    border-radius: 60px;
}

.search-container input {
    outline: none;
    border: none;
    background-color: transparent;
    flex: 1;
    font-size: 1em;

    &:hover {
        &::placeholder {
            color: #FFC300;
            transition: 0.2s ease-in-out;
        }
    }
}

.search-container i {
    display: block;
    font-size: 1.3em;
    font-weight: 100;

}













.buy-container {
    display: flex;
    align-items: center;
}

.buy-container i {
    display: block;
    padding: 10px 20px;
    font-size: 1.5em;
    transition: 0.2s ease-in-out;
}

.buy-container i:hover {
    color: #FFC300;
}


.settings-container {
    display: flex;
    align-items: center;
}

.settings-container i {
    font-size: 1.5em;
    padding: 10px;
}



.menu-nav {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #FFC300;
    padding: 10px 20px;
    
}

.menu-item {
    list-style: none;
    display: flex;
    text-align: center;
}

.menu-item li {
    padding: 10px 20px;

}

.menu-item li a {
    font-weight: 700;
    display: block;

}



.about {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    text-align: center;
    box-sizing: border-box;

}

.item {
    max-width: 300px;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    margin: 0 auto;
    box-shadow: 0px 2px 4px rgba (0, 0, 0, 0.2);
}


footer {
    background: linear-gradient(60deg,#FFC300, #ffffff91);
}

.social-media {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
}

.social-media i {
    padding: 1em;
    font-size: 20px;
}

.footer-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 20px 30px;
    align-items: center;
    font-size: 0.8em;

}



/* Responsividade */

@media (max-width: 720px){
    .search-container{
        display: none;
    }
    .nav-bar {
        justify-content: space-between;
    }
}

@media (max-width: 820px) {
    .about {

        grid-template-columns: 1fr 1fr;
    }


}

@media (max-width: 420px) {
    .about {

        grid-template-columns: 1fr;
    }
}